:root {
    --color-background:#b6b2b2;
    --color-text:#000;
}

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    font-family:Tahoma;
    width:100%;
    height:100vh;
    color:var(--color-text);
    background-color:var(--color-background);
}

h1, p {
    margin:1em auto;
    text-align:center;
}

form {
    margin:0 auto;
    padding-bottom:2em;
    min-width:300px;
    max-width:500px;
    width:60vw;
}

fieldset {
    border:none;
    border-bottom:3px solid var(--color-text);
    padding:2rem 0;
}

fieldset:first-of-type {
    margin-bottom:2rem;
}

fieldset:last-of-type {
    border-bottom:none;
}

label {
    display:block;
    margin:0.5rem 0;
}

input, textarea, select {
    width:100%;
    margin:10px 0 0 0;
    min-height:2em;
}

.inline {
    width:unset;
    margin:0 0.5em 0 0;
    vertical-align:middle;
}

input[type="file"] {
    padding:1px 2px;
}

input[type="submit"] {
    display:block;
    min-width:300px;
    width:60%;
    margin:1em auto;
    height:2em;
    font-size:1.1rem;
    font-weight:700;
    cursor:pointer;
}

a {
    color:var(--color-text);
}